* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.about_container {
  height: 80%;
  color: #777;
  /*font-family: 'Pacifico', cursive;*/
}
.about_container .title {
  text-align: center;
  height: 80px;
  margin-bottom: 5px;
  color: #602D8D;
}
.about_container .title h2 {
  font-size: 60px;
  margin-top: 30px;
}
.about_container .title q {
  margin: 20px 0;
  font-size: 30px;
  line-height: 1.5;
}
.about_container .row {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.about_container .col-2 {
  flex-basis: 45%;
  margin-right: 5px;
}
.about_container .col-2 img {
  width: 100%;
  height: 470px;
  object-fit: cover;
  border-radius: 50%;
}
.about_container .col-2 i {
  margin-top: 20px;
  margin-left: 20px;
}
.about_container .col-2 h4{
  font-size: 25px;
  margin: 30px 0;
  color: #1f1f1f;
}
.about_container #small {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
@media only screen and (min-width: 960px) {
/* styles for browsers larger than 960px; */
  
}
@media only screen and (min-width: 1440px) {
/* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
/* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
/* styles for mobile browsers smaller than 480px; (iPhone) */
.about_container .col-2  { 
      font-size: 1em; 
   }
    .about_container .title h1 {
      font-size: 20px;
    }
    .about_container .title q {
      font-size: 20px;
    }
    .about_container .col-2 h4 {
      font-size: 30px;
    }
    .about_container .col-2 img {
      width: 300px;
      height: 300px;
    }
    .about_container .row {
      width: 100%;
    }
     .about_container .col-2 {
      flex-basis: 70%;
     }
}
@media only screen and (device-width: 768px) {
/* default iPad screens */
     .about_container .col-2 img {
      width: 400px;
      height: 400px;
    }
  .about_container .col-2 {
      flex-basis: 80%;
    font-size: 30px;
     }
  .about_container #small {
    width: 400px;
      height: 400px;
  }
}
@media only screen and (device-width: 834px) {
/* default iPad screens */
     .about_container .col-2 img {
      width: 400px;
      height: 400px;
    }
  .about_container .col-2 {
      flex-basis: 80%;
    font-size: 30px;
     }
  .about_container #small {
    width: 400px;
      height: 400px;
  }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
}

@media only screen and (max-width: 500px) {

}
@media only screen and (max-width: 800px) and (min-width: 501px) {
 
}